    <div class='nested-fields'>
      <%= f.collection_select :user_id, User.all, :id, :full_name, {}, class:'form-control-sm' %>
      <%= f.hidden_field :attendance, :value => '未回答' %>
      <%= link_to_remove_association '  削除', f, class: 'fas fa-user-minus small text-secondary ml-2' %>
    </div>
