<div class="container">
  <div class="d-flex flex-row">

    <div class="col-md-3">
      <%= render 'events/new', event: @event %>
    </div>

    <div class="col-md-9">
      <h2 class="text-info text-center my-5">カレンダー</h2>
      <%= month_calendar events: @events do |date, events| %>
      <%= date.day %>
      <% events.each do |event| %>
    <div>
      <%= link_to event.title, event ,class: "small" %>
    </div>
  <% end %>
<% end %>
    </div>
  </div>
</div>
