    <div class="video-wrap">
      <h1 class="on-video top-catch text-center">どれだけ怠けても<span class="catch-word">成果</span>が出る</h1>
      <h1 class="on-video top-title text-center">シッカリBuddy</h1>
      <%= link_to "はじめる", edit_user_registration_path, class: "btn btn-info on-video top-resistration" %>
      <%= link_to "ログイン", edit_user_registration_path, class: "btn btn-light on-video top-session" %>
      <div class="video">
      <%= video_tag(asset_path("background_movie.mp4"), autoplay: true, loop: true, muted: true, style: "width: 100%;") %>
      </div>
    </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-12 my-5">
      <h2 class="text-center font-weight-bold">しっかりBoddyとは</h2>
      予定とTODOを一括管理できる TODO&スケジュール管理アプリです。多くの情報に晒されているビジネスパーソンが、煩雑になりがちなTODOと予定をスムーズに管理し、それに伴う必要な連絡・報告を漏れなく行えます。一つ一つは小さいけれど無駄となっている、情報検索・連絡・報告にかかる時間を短縮させ、生産性を上げるお手伝いをいたします。
    </div>
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-12 my-5">
      <h2 class="text-center font-weight-bold">予定を管理する</h2>
      月ごとのカレンダーで予定を見やすく一覧表示させます。予定を作成したユーザーは予定に関係するユーザーを選択し、予定の通知や出欠確認を行うことが可能です。またその予定に準じたTODO（会議資料の読み込みや、アポイントにあたっての資料作成などを想定）を複数設定でき、各関係者は自分のTODOリストに反映させることができます。
    </div>
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-12 my-5">
      <h2 class="text-center font-weight-bold">TODOを管理する</h2>
      月ごとのカレンダーで予定を見やすく一覧表示させます。予定を作成したユーザーは予定に関係するユーザーを選択し、予定の通知や出欠確認を行うことが可能です。またその予定に準じたTODO（会議資料の読み込みや、アポイントにあたっての資料作成などを想定）を複数設定でき、各関係者は自分のTODOリストに反映させることができます。
    </div>
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-12 my-5">
      <h2 class="text-center font-weight-bold">Buddyに会いに行く</h2>
      優先度ごと、締め切り順に一覧表示させることができます。完了ずみにすれば非表示となったり、非同期通信で投稿ができたりと、付箋に書くようにスラスラとTODOの追加・削除が可能です。
    </div>
  </div>
</div>
