<div class="video-wrap">
  <h1 class="on-video top-catch text-center">どれだけ怠けても<span class="catch-word">成果</span>が出る</h1>
  <h1 class="on-video top-title text-center">シッカリBuddy</h1>
  <div class="video">
    <%= video_tag(asset_path("background_movie.mp4"), autoplay: true, loop: true, muted: true, style: "width: 100%;") %>
  </div>
</div>

