/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require dropzone/basic
 *= require dropzone/dropzone
 *= require simple_calendar
 *= require_self
 *= require_tree

 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


h4 {
  padding: 1rem 2rem;
  color: white;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#17a2b8), to(#87ceeb));
  background-image: -webkit-linear-gradient(left, #17a2b8 0%, #87ceeb 100%);
  background-image: linear-gradient(to right, #17a2b8 0%, #87ceeb 100%);
}

.notice{
  color: #ff6347;
}

.btn-delete
{
  background-color: #ff6347;
}

body {
  font-family: "Noto Sans JP";
}