// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

    .css-fukidashi {
      padding: 0;
      margin: 0;
    }

    .okeyed_users {
      display: none;
      width: 200px;
      position: absolute;
      top: 0;
      left: 50px;
      padding: 8px;
      border-radius: 5px;
      background: #17a2b8;
      color: #fff;
      font-size: small;
    }
    .okeyed_users:after {
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      bottom: -19px;
      margin-left: 10px;
      border: solid transparent;
      border-color: rgba(51, 204, 153, 0);
      border-top-color: #17a2b8;
      border-width: 10px;
      pointer-events: none;
      content: " ";
    }
    .okey_count:hover + .okeyed_users {
      display: block;
    }


.fa-check-square
{
  color: #ff6347;
}