// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-wrap {
  position: relative;
  width: 100%;
}

.video {
  display: block;
  margin: 0 0 0 auto;
  width: 100%;
}

.top-cover {
    position:absolute;
    top: 45%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color:#fff;
    text-shadow: 0 0 15px #666;
}