// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-wrap {
  position: relative;
  width: 100%;
}

.video {
  display: block;
  margin: 0 0 0 auto;
  width: 100%;
}

.catch-word{
  color: #f9fcff;
  font-weight: bold;
  text-shadow: 1px 2px 5px #17a2b8;
}

.top-catch {
  position:absolute;
  top: 45%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: #f9fcff;
  font-weight: bold;
  text-shadow: 1px 2px 5px #666666;
}

.top-title {
  position:absolute;
  top: 60%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-weight: bold;
  color: #17a2b8;
  font-size: 80px;
  text-shadow: 1px 2px 5px #f9fcff;
}

