// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.todos{
  text-align: center;
}

.todo-box{
  width: 90%;
  height: 100%;
  display: inline-block;
  justify-content: flex-end;
  padding-bottom: 3%;
  marigin-right: 3%;
}

.todo-list {
  padding: 3px;
  border-radius: 8px;
  border: 5px solid white;
  background-color: white;
  box-shadow: 0px 0px 5px silver;
}

.list-next{
  margin-top: 15px;
}

.list0{
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.list1{
  width: 48%;
  margin-right: 3%;
  display: inline-block;
  height: 330px;
}

.list2{
  width: 48%;
  display: inline-block;
  height: 330px;
}

.list3{
  height: 110px;
  display: flex;
  flex-wrap: wrap;
}

.todo-list-label {
  width: 100%;
  text-align: center;
  height: 26px;
  line-height: 26px;
  font-size: 18px;
  color: white;
}

.label0{
  background-color: #ff6347;
}

.label1{
  background-color: #17a2b8;
  margin-bottom: 15px;
}

.label2{
  background-color: #e6b422;
  margin-bottom: 15px;
}

.label3{
  background-color: #6c757d;
}



// タスクアイテム
.todo-card{
  width: 250px;
  height: 44px;
  margin: 5px auto;
  padding: 1%;
  border-radius: 6px;
  background-color: white;
  border: solid 1px silver;
  box-shadow: 1px 1px 1px 1px rgba(155,155,155,0.2);

  .todo-title {
    width: 100%;
    color: #545454;
    line-height: 1.0;
    font-size: 15px;
    padding: 2px 5px 0px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .todo-deadline {
    width: 100%;
    display: flex;
    color: gray;
    font-size: small;
    margin: 0 5px;
  }
}